@model SSGeek.Models.ShoppingCart

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>

    <style>
        .white {
            background-color: white !important;
            height: 900px;
            display:block;
        }

        .productImg {
            width: 200px;
            height: auto;
            float:left;
        }

        .product {
            display: inline-block;
            float: left;
            clear: both;
        }
        .element{

            clear:right;
        }
    </style>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    @{
        var cart = Model.Cart;
    }

    <div class="white">

        <h2>Solar System Geek Gift Shop <span style="float:right;">Grand Total: @Model.Total</span></h2>

        @foreach (var item in cart)
    {
        <div class="product">

            <img class="productImg" src="~/Content/img/@item.Product.ImageName" />

            <a href="@Url.Action("Detail", "Store", new { item.Product.ProductId }, null)"> </a>
            <div class="element"><b>@item.Product.Name</b> 

            Price: @item.Product.Price.ToString("C")

            Qty: @item.Quantity
            Total: @item.Total</div>
        </div>
}

    </div>

</body>
</html>